.App {
  height: 100vh;
}

.input-field .prefix.active {
  color: #FF8A65;
}

.input-field label{
  color: white;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #ff8a65 !important;
  box-shadow: 0 1px 0 0 #ff8a65 !important;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #ff8a65 !important;
  box-shadow: 0 1px 0 0 #ff8a65 !important;
}

.input-field input[type=email]:focus + label {
  color: #ff8a65 !important;
}

.input-field input[type=password]:focus + label {
  color: #ff8a65 !important;
}

.card{
  border-radius: 15px;
}

.btn-small{
  border-radius: 15px;
}

.input-field input:-webkit-autofill:hover,
.input-field input:-webkit-autofill:focus,
.input-field input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px #263238 inset;
  -webkit-text-fill-color: white;
  background-color: transparent;
  color: white;
}

ul div li:hover {
  background-color: #ff8a65;
}

.tabs .tab a{
  color:#263238;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#ECEFF1;
} /*Text color on hover*/

.tabs .tab a:focus.active {
  background-color:#ECEFF1;
  color: #ff8a65;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#ff8a65;
} /*Color of underline*/

#btndelete :hover{
  background-color:red!important;
}